.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 10;
}


@media (orientation: portrait) {
    .play-icon {
        width: 12vw;
        height: 12vw;
    }
}

@media (orientation: landscape) {
    .play-icon {
        width: 5vw;
        height: 5vw;
    }
}