@import '../../../assets/css/utilities/variables';

.container {
    background-color: #000;
}

.iframe-container {
    height: 95vh;
    width: 100%;
    margin: auto;
    border: none;
}

::ng-deep body {
    padding: 0 !important;
    margin: 0 !important;
}